<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-2 mx-auto">
                <img class="img-fluid" src="/img/logo.png" alt="logo">
            </div>
        </div>
    </div>
</footer>

<script src="/js/01_jquery.js"></script>
<script src="/js/02_popper.js"></script>
<script src="/js/03_bootstrap.js"></script>
<script src="/js/04_main.js"></script>
</body>
</html>