<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto List</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/fonts.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="robotoregular">

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="#">Crypto Manager</a>

    <% if(typeof session !== 'undefined' && session.userid) { %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/list-crypto">Crypto List</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/list-user">Users</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
    <% } %>
</nav>

<% if (error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <ul>
            <% error.forEach(function(item){ %>
                <li><%= item %></li>
            <% }); %>
        </ul>
    </div>
<% } %>