<%- include('header'); -%>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="robotobold mb-4">Users</h1>
            <table class="table table-striped">
                <thead class="robotobold">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Registration date</th>
                        <th scope="col" class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(user, index){ %>
                        <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td><%= user.firstName + ' ' + user.lastName %></td>
                            <td><%= user.registrationDate.toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></td>
                            <td class="text-right">
                                <a href="/user/<%= user._id %>" class="btn btn-primary mr-2">Details</a>
                                <a href="/user/delete/<%= user._id %>" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">+ Add User</button>
        </div>
    </div>
</div>
      
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="POST" action="/create-user">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create User Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="first-name"><small>First Name</small></label>
                        <input type="text" class="form-control" id="first-name" placeholder="First Name" name="firstName" required>
                    </div>

                    <div class="form-group">
                        <label for="last-name"><small>Last Name</small></label>
                        <input type="text" class="form-control" id="last-name" placeholder="Last Name" name="lastName" required>
                    </div>

                    <div class="form-group">
                        <label for="birthdate"><small>Birth Date</small></label>
                        <input type="date" class="form-control" id="birthdate" name="birthdate" required>
                    </div>

                    <div class="form-group">
                        <small>Sex</small>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" value="Female" id="female" required>
                            <label class="form-check-label" for="female">
                                Female
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" value="Male" id="male" required>
                            <label class="form-check-label" for="male">
                                Male
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="address"><small>Address</small></label>
                        <input type="text" class="form-control" id="address" placeholder="Address" name="address" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create User</button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include('footer'); -%>