<%- include('header'); -%>

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1 class="robotobold mb-4">Crypto List</h1>
            <table class="table table-striped">
                <thead class="robotobold">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Ticker</th>
                        <th scope="col">Value ($)</th>
                        <th scope="col" class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% cryptoArray.forEach(function(crypto, index){ %>
                        <tr class="crypto-row" data-id="<%= crypto._id %>">
                            <th scope="row"><%= index + 1 %></th>
                            <td class="d-none"><div class="crypto-row__id"></div></td>
                            <td><p class="crypto-row__p" data-property="name"><%= crypto.name %></p> <input class="crypto-row__input form-control" type="text" data-property="name" value="<%= crypto.name %>" > </td>
                            <td><p class="crypto-row__p" data-property="ticker"><%= crypto.ticker %></p> <input class="crypto-row__input form-control" type="text" data-property="ticker" value="<%= crypto.ticker %>" > </td>
                            <td><p class="crypto-row__p" data-property="value"><%= crypto.value %></p> <input class="crypto-row__input form-control" type="number" data-property="value" value="<%= crypto.value %>" > </td>
                            <td class="text-right d-flex">
                                <button type="submit" class="btn btn-secondary btn--hidden crypto-row__cancel-btn mr-1">Cancel</button>
                                <button type="submit" class="btn btn-primary btn--hidden crypto-row__save-btn">Save</button>
                                <button type="submit" class="btn btn-primary crypto-row__edit-btn">Edit</button>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('footer'); -%>