<%- include('header'); -%>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="robotobold mb-4">Login</h1>
            <form method="POST">
                <div class="form-group mb-4">
                    <label class="robotobold" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                </div>
                <div class="form-group mb-4">
                    <label class="robotobold" for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

<%- include('footer'); -%>