<%- include('header'); -%>

<div class="container">
    <a class="robotobold" href="/list-user">< Back</a>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="robotobold mb-4">Single User</h1>
            <div class="row mb-4">
                <div class="col-4 robotobold">
                    Name
                </div>
                <div class="col-4">
                    <%= user.firstName + ' ' + user.lastName %>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4 robotobold">
                    Age
                </div>
                <div class="col-4">
                    <%= age %>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4 robotobold">
                    Sex
                </div>
                <div class="col-4">
                        <%= user.sex %>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4 robotobold">
                    Address
                </div>
                <div class="col-4">
                        <%= user.address %>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4 robotobold">
                    Registration date
                </div>
                <div class="col-4">
                    <%= user.registrationDate.toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %>
                </div>
            </div>
            <hr/>
            <h3 class="robotobold">Cryptocurrencies</h3>
            <div class="row mb-3 robotobold">
                <div class="col-4 offset-4">
                    Type
                </div>
                <div class="col-4">
                    Quantity
                </div>
            </div>
            <% user.cryptos.forEach(function(crypto, index){ %>
            <div class="row mb-3">
                <div class="col-4 offset-4">
                    <% cryptoArray.forEach(function(element) { %>
                        <% if(element._id == crypto.cryptoTypeId) { %>
                        <%= element.ticker %>
                        <% } %>
                    <% }); %>
                </div>
                <div class="col-4">
                    <%= crypto.cryptoAmount %>
                </div>
            </div>
            <% }); %>
            <div class="row mb-3">
                <div class="col-4 offset-4">
                    Sum
                </div>
                <div class="col-4">
                    <strong>$ <%= sum%></strong>
                </div>
            </div>
            <form class="add-crypto-form" action="/user/add-crypto/<%= user._id %>" method="POST">
                <div class="row mb-3">
                    <div class="col-4 offset-4 add-crypto-form__input-wrapper add-crypto-form__input-wrapper--hidden">
                        <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect01" name="cryptoTypeId">
                                <% cryptoArray.forEach(function(crypto, index){ %>
                                    <option value="<%= crypto._id %>"><%= crypto.name %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="col-4 add-crypto-form__input-wrapper add-crypto-form__input-wrapper--hidden">
                        <div class="input-group">
                            <input type="number" class="form-control" name="cryptoAmount">
                        </div>
                    </div>
                    <div class="col-8 offset-4 text-right">
                        <button class="btn btn-primary add-crypto-form__show-btn" type="button">+ Add/Alter Crypto</button>
                        <button class="btn btn-primary btn--hidden add-crypto-form__submit-btn mt-3" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('footer'); -%>