.robotoregular {
  font-family: 'robotoregular'; }

.robotobold {
  font-family: 'robotobold'; }

.navbar {
  background-color: #7daeb3 !important; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7daeb3; }

.btn {
  padding: .4rem 2rem; }
  .btn-primary {
    background-color: #7daeb3;
    border: none; }
    .btn-primary:hover {
      background-color: #4b7b7f; }
  .btn-secondary {
    background-color: #b3c2c4;
    border: none; }
    .btn-secondary:hover {
      background-color: #7a9497; }
  .btn--hidden {
    display: none; }

a {
  color: black; }
  a:hover {
    text-decoration: none;
    color: black; }

.text-error {
  color: red; }

.crypto-row__id {
  display: none; }

.crypto-row__input {
  display: none; }
  .crypto-row__input--shown {
    display: block; }

.crypto-row__p {
  display: block; }
  .crypto-row__p--hidden {
    display: none; }

.add-crypto-form__input-wrapper--hidden {
  display: none; }
