$primary-color: #7daeb3;
$secondary-color: #b3c2c4;

.robotoregular {
  font-family: 'robotoregular'
}

.robotobold {
  font-family: 'robotobold'
}

.navbar {
  background-color: $primary-color !important;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $primary-color;
}

.btn {
  padding: .4rem 2rem;

  &-primary {
    background-color: $primary-color;
    border: none;
  
    &:hover {
      background-color: darken($primary-color, 20);
    }
  }

  &-secondary {
    background-color: $secondary-color;
    border: none;
  
    &:hover {
      background-color: darken($secondary-color, 20);
    }
  }

  &--hidden {
    display: none;
  }
}

a {
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.text {
  &-error {
    color: red;
  }
}

.crypto-row {
  &__id {
    display: none;
  }
  
  &__input {
    display: none;

    &--shown {
      display: block;
    }
  }

  &__p {
    display: block;

    &--hidden {
      display: none;
    }
  }
}

.add-crypto-form {
  &__input-wrapper {
    &--hidden {
      display: none;
    }
  }
}